body {
    margin: 0;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    color: rgb(215, 214, 214);

    background-image: linear-gradient(to right, rgb(30, 30, 30), rgb(25, 33, 36));
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#perfil {
    border-radius: 50%;

    border: 2px solid rgb(215, 214, 214);
    padding: 4px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 16px;
}

.container a {
    text-decoration: none;
    color: rgb(215, 214, 214);
    font-weight: 600;

    border: 2px solid rgb(215, 214, 214);
    border-radius: 5px;
    padding: 12px 138px;

    transition: all 0.3s ease-in-out;
}

.container a:hover {
    background-color: rgb(215, 214, 214);
    color: black;

    
}

#footer {
    width: 225px;
    margin-top: 68px;

    text-align: center;
}

#footer a + a {
    margin-left: 29px;
}

@media (max-width: 768px) {

    #perfil {
        width: 180px;
    }

    .container a {
        padding: 12px 115px;
    }

    #footer img {
        width: 22px;
    }

}